.wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.generic-about-us {
  background-image: url("../images/generic-about-us.jpg");
  alt: "Fuzz & Bascounter";
  height: 80vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin: 10px 10px 10px 10px;
}

.text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 10px 10px 10px 10px;
  text-align: justify;
  text-justify: inter-word;
}

.col-left {
  border-right: 1px solid #e6e6e6;
}
