.bg-image {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/frontpage.png");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

.headerText {
  color: white;
  font-size: 4em;
  font-family: 'Bebas Neue';
  /* margin-top: 20px; */
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}