.bg-image {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/frontpage_cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerText {
  color: white;
  font-size: 5em;
  /* margin-top: 20px; */
}