.wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.header {
    margin: 10px 10px 10px 10px;
    font-family: "Bebas Neue", sans-serif;
  }

  .tableHeader {
    font-family: "Bebas Neue", sans-serif;
  }

  .tableBody {
    font-family: "Bebas Neue", sans-serif;
  }